@CHARSET "UTF-8";

* {
	/* font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
		Verdana, sans-serif; */
}

body {
	padding-top: 50px
}
.signin {
	margin: 10px auto;
}
.signin i {
	padding: 10px 0 0 0;
	border-radius: 50%;
	color: #f5f5f5;
	background-color: #DFDFDF;
	font-size: 120px;
	display: block;
	height: 120px;
	width: 120px;
	text-align: center;
	margin: 10px auto;
}
#signined {
	padding: 0px;
	outline: none;
	border: 0;
	background-color: #2780E3;
	padding-top: 7px;
	height: 40px;
	min-width: 40px;
}
#signined i {
	padding: 3px 0 0 0;
	border-radius: 50%;
	color: #2780E3;
	background-color: #EEEEEE;
	font-size: 30px;
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	margin: 0 auto;
}
#signined:hover {
	background-color: #1967be;
}
#signined:hover i{
	color: #1967be;
}

#signinModal .modal-body{
	margin: 0px 40px;
}

#signinModal .modal-footer{
	padding: 20px 60px;
	text-align: center;
}
footer {
	margin: 2em 0;
	padding-top: 1em;	
	border-top: 1px solid #e6e6e6;
}